{% extends 'dash/base.html' %}
{% load static %}

{% block title %}
  Link Mail Message to Ticket
{% endblock title %}

{% block sub_heading %}
  Link Mail Message to Ticket
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <table class="pure-table pure-table-bordered" width="100%">
        <thead>
          <tr>
            <th>Update&nbsp;Link</th>
            <th>Date</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          {% for o in object_list %}
            <tr valign="top">
              <td>
                <a href="{% url 'googl_crm.mail.ticket.create' o.pk %}">
                  {% if o.ticket_count %}
                    <i class="fa fa-edit"></i>
                    Update&nbsp;<small>({{ o.ticket_count }})</small>
                  {% else %}
                    <i class="fa fa-plus"></i>
                    Create
                  {% endif %}
                </a>
              </td>
              <td>
                {{ o.email_date|date:'d/m/Y H:i' }}
              </td>
              <td>
                From: <a href="mailto:{{ o.from_email }}">{{ o.from_email }}</a>
                to: <a href="mailto:{{ o.to_email }}">{{ o.to_email }}</a>
                <br>
                {{ o.subject }}
                <small>
                  <br>
                  {{ o.message|truncatewords:7 }}
                </small>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          {% include 'base/_paginate.html' %}
        </ul>
      </div>
    </div>
  </div>
{% endblock content %}

