{% extends "dash/base.html" %}

{% block title %}
  Link email to Ticket
{% endblock title %}

{% block sub_heading %}
  Link email to Ticket
{% endblock sub_heading %}

{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'googl_crm.mail.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-lg-2-3">
      <p>
        Found {{ contacts|length }} contact(s) with the email address
        <a href="mailto:{{ mail.from_email }}">{{ mail.from_email }}</a>
      </p>
      <ol>
        {% for x in contacts %}
          <li>
            <a href="{% url 'contact.detail' x.pk %}">
              {{ x.full_name }}
            </a>
          </li>
        {% endfor %}
      </ol>
      <strong>
        Link this email:
      </strong>
      {% include 'googl/_google_mail_detail.html' with mail=mail summary=True %}
      {% if contacts|length %}
        <br>
        <strong>
          To one or more of these tickets:
        </strong>
        {% include '_form.html' with form_class='kb-hide-bullet' inline_checkbox=True %}
        <p>
          <i class="fa fa-warning"></i>
          We list <strong>current</strong> tickets for each contact
          <small>
            (to link to a <strong>completed</strong> ticket, open it first).
          </small>
        </p>
      {% else %}
        <p>
          <i class="fa fa-warning"></i>
          Sorry, we could not find any contacts matching
          <a href="mailto:{{ mail.from_email }}">{{ mail.from_email }}</a>.
          To link this email to a ticket, add
          <a href="mailto:{{ mail.from_email }}">{{ mail.from_email }}</a>
          to a contact and try again.
        </p>
      {% endif %}
    </div>
  </div>
{% endblock content %}
